trigger: 
  branches:
    include: 
    - dev
    - qa
    - main
    - "hotfix/*"

  paths:
    include:
    - /
    exclude:
    - 'azure-pipelines.yml'

pool:
  vmImage: "ubuntu-latest"

resources:
  repositories:
  - repository: Architecture
    type: git
    name: DevSecOps/architecture
    endpoint: ArchitectureBusinessConnection
    ref: refs/heads/main

  - repository: Devops
    type: git
    name: devops-pulso-salud
    ref: refs/heads/master

variables:
  - group: Common
  - group: Config
  - group: Tools
  - group: Microservicio
  - group: Dev
  - group: Qas
  - group: Prd

stages:
- template: ms-backend-generalmasterdata-api.pipeline.yml@Devops