@using DapperMVCDemo.Data.Models.Domain

@model Person

@{
    ViewData["Title"] = "Agregar Persona";
}

<h3>Agregar Persona</h3>

<a href="/Persons/Index" class="my-2 btn btn-primary">Registro de Personas</a>

<form asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nombres</label>
        <input asp-for="Name" type="text" />

        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="text" />

        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label">Direccion</label>
        <input asp-for="Address" type="text" />

        <span class="text-danger" asp-validation-for="Address"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>

