html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search ::placeholder {
    color: #101010 !important;
}


/* Estilos para el Navbar */
.navbar {
    padding: 10px 0;
}


.search input-group-append {
    display: flex;
    align-items: center;
}

.search .btn-secondary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #258cfb;
}


.banner-container {
    position: relative;
    height: 70vh;
    overflow: hidden;
    background: url('../images/banner.jpeg') center no-repeat;
    background-size: cover;
}

.banner-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 50px; / Ajusta según sea necesario */
}

.subscribe-btn {
    padding: 15px 30px;
    font-size: 32px;
    border-radius: 14px;
}


